@font-face {
    font-family: 'RF Dewi Expanded'; /*a name to be used later*/
    src: url('asset/fonts/RFDewiExpanded-Ultrabold\ \(1\).ttf')
}
@font-face {
    font-family: 'RF Dewi'; /*a name to be used later*/
    src: url('asset/fonts/RFDewi-Regular.ttf')
}

img {
    width: 50px;
}


body {
    font-family: 'RF Dewi', Arial, sans-serif;
    overflow: scroll;

}

body, html {
    margin: 0;
    padding: 0;
}

.footer__title, .contacts__title,
 .description__title, .contacts__office__title,
  .employees__office__title,
   .employees__production__title, .header__button  {
    font-family: 'RF Dewi Extended';
    font-weight: bold;
}

.header {
    background-color: #ffffff;
    color: #fff;
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    max-width: 100%;
    width: 34px;
    height: 34px;
    padding: 5px;
}

.header__button {
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border: 2px solid var(--Black, #000);
    font-weight: bold;
}

.header__phone {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    padding: 5px;
    border: 2px solid var(--Red, #E63E35);
}

.header__burger {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    padding: 6px;
    margin-right: 5px;
    border: 2px solid var(--Grey, #B8B8B8);
}

.contacts {
    background: var(--Light-black, #161515);
    padding: 15px;
}

.contacts__title {
    font-family: 'RF Dewi Extended';
    font-size: 1.5em;
    color: var(--Light-Gray, #FBFBFB);
    margin-top: 90px;

    font-family: RF Dewi Expanded;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 40.8px */
    text-transform: uppercase;
}

.contacts__office__title, .contacts__production__title {
    color: var(--Dark-Grey, #5D5D5D);
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 21.6px */
}

.contacts__office, .contacts__production {
    color: var(--Light-Gray, #FBFBFB);
}

.contacts__office__mail__link,
 .contacts__office__phone__link,
 .contacts__production__phone__link,
 .footer__form__warning__link {
    color: var(--Red, #E63E35);
    text-decoration-line: underline;
 }

/* Добавление стилей для планшетов и более крупных экранов */

@media (min-width: 768px) {
    .header {
        padding: 20px;
    }

    .header__logo {
        max-width: 80%;
    }

    .contacts__title {
        font-size: 2em;
    }
}

/* Добавление стилей для десктопов */

@media (min-width: 1200px) {
    .header__button {
        font-size: 1.2em;
        padding: 10px 20px;
    }

    .contacts__title {
        font-size: 2.5em;
    }
}


.employees {
    display: flex;
    padding: 32px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.employees__office__title, .employees__production__title {
    width: 80px;
    color: var(--Light-black, #161515);

    /* H2/390 */
    font-family: 'RF Dewi Expanded';
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 36px */
    text-transform: uppercase;
}
.employees__office__worker, .employees__production__worker{
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    margin-bottom: 25px;
}
.employees__office__worker__img, .employees__production__worker__img{
    width: 150px;
    height: 200px;
}

.employees__office__worker__info, .employees__production__worker__info {
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.employees__office_worker__name, .employees__production__worker__name {
    flex-wrap: wrap;

    color: #000;

    /* H5/1600 */
    font-family: 'RF Dewi Expanded';
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 21.6px */

}
.employees__office_worker__description, .employees__production__worker__description{
    display: flex;
    align-items: center;
    align-self: stretch;
    color: #E63E35;
}

.description {
    color: var(--Dark-Grey, #5D5D5D);
}

.description__annotation, .description__main {
    /* Text */
    font-family: 'RF Dewi';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    padding: 1px 15px;
}

.description__title {
    /* H5/1600 */
    font-family: 'RF Dewi Expanded';
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 21.6px */
    padding: 0px 15px;
}


.footer {
    padding: 0;
    background-color: rgb(24, 24, 24);
    padding: 5px 10px;
}

.footer__title, .footer__description {
    color: #fff;
}

.footer__contacts {
    color: #fff;
    text-align: right;
    margin: 0;
}

.footer__form__input__name, 
 .footer__form__input__phone,
 .footer__form__input__comment {
    border: 2px solid var(--Grey, #B8B8B8);
    background: var(--White, #FFF);
    width: 99%;
    display: flex;

    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    margin: 10px 0px;
 }

 .footer__form__input__submit {
    display: flex;
    padding: 10px 8px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border : 0 none;
    background: var(--Grey, #B8B8B8);
    color: #fff;
    font-family: 'RF Dewi';
    font-weight: bold;
    width: 100%;
 }

.footer__form__warning {
    color: #5D5D5D;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 120% */
}

.footer__contacts {
    padding: 10px;
    background-image: url(asset/title-logo.png);
    background-size: cover;
}

.footer__contacts__phone, .footer__contacts__mail {
    color: var(--Red, #E63E35);
    text-align: right;
    /* Text */
    font-family: 'RF Dewi';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */

    padding: 10px;
}

.footer__contacts__address {
    color: #5D5D5D;

    text-align: right;
    /* Text */
    font-family: 'RF Dewi';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.footer__logo {
    width: 10%;
    height: 10%;
    transform: scaleX(-1); /* Перевернуть по горизонтали */
    opacity: 0.8; /* Прозрачность (от 0 до 1) */
}

