@font-face {
    font-family: 'RF Dewi Expanded'; /*a name to be used later*/
    src: url('asset/fonts/RFDewiExpanded-Ultrabold\ \(1\).ttf')
}
@font-face {
    font-family: 'RF Dewi'; /*a name to be used later*/
    src: url('asset/fonts/RFDewi-Regular.ttf')
}

body {
    font-family: 'RF Dewi';
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.footer__title, .contacts__title,
 .description__title, .contacts__office__title,
  .employees__office__title,
   .employees__production__title, .header__button  {
    font-family: 'RF Dewi Extended';
    font-weight: bold;
}

.contacts__office__title {
    font-family: 'RF Dewi';
    font-weight: bold;
}

.header {
    /* display: flex;
	justify-content: flex-end; */
    background-color: #ffffff;
    color: #fff;
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 

}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: row;
}

.header__main > div {
    flex: 1;
}

.header__logo {
    width: 100%;
    height: 100%;
}

.header__logo__img {
    /* transform: scale(-2.5);  */
    width: 10%;
    /* widthead3e: 34px; */
    /* width: 34px;
    height: 34px;
    padding: 5px; */
}

.header__button {
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border: 2px solid var(--Black, #000);
    font-weight: bold;
}

.header__phone {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    padding: 5px;
    border: 2px solid var(--Red, #E63E35);
}

.header__burger {
/* 
	position: relative;
	z-index:2;
	overflow: hidden; */

    width: 18px;
    height: 18px;
    flex-shrink: 0;
    padding: 6px;
    margin-right: 5px;
    border: 2px solid var(--Grey, #B8B8B8);
}

.header__full__phone {
    display: none;
}

.header__nav {
    display: none;


}

.contacts {
    background: var(--Light-black, #161515);
    padding: 15px;
}

.contacts__title {
    font-family: 'RF Dewi Extended';
    font-size: 1.5em;
    color: var(--Light-Gray, #FBFBFB);
    margin-top: 90px;

    font-family: RF Dewi Expanded;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    text-transform: uppercase;
}

.contacts__office__title, .contacts__production__title {
    color: var(--Dark-Grey, #5D5D5D);
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; 
}

.contacts__office, .contacts__production {
    color: var(--Light-Gray, #FBFBFB);
}

.contacts__office__mail__link,
 .contacts__office__phone__link,
 .contacts__production__phone__link,
 .footer__form__warning__link {
    color: var(--Red, #E63E35);
    text-decoration-line: underline;
 }

.contacts__office__social {
    display: flex;
    gap: 2%;
}

/* .contacts__office__social__svg {
    transition: 300ms;

} */

.social:hover {
    fill: var(--Red);
}

/* svg:hover {
    fill: red;
  } */

.employees {
    display: flex;
    padding: 32px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.employees__office__title, .employees__production__title {
    width: 80px;
    color: var(--Light-black, #161515);

    /* H2/390 */
    font-family: 'RF Dewi Expanded';
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-transform: uppercase;
}
.employees__office__worker, .employees__production__worker{
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    margin-bottom: 25px;
}
.employees__office__worker__img, .employees__production__worker__img{
    width: 150px;
    height: 200px;
    
}

.employees__office__worker__info, .employees__production__worker__info {
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.employees__office_worker__name, .employees__production__worker__name {
    flex-wrap: wrap;

    color: #000;

    /* H5/1600 */
    font-family: 'RF Dewi Expanded';
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;

}
.employees__office_worker__description, .employees__production__worker__description{
    display: flex;
    align-items: center;
    align-self: stretch;
    color: #E63E35;
}

.description {
    color: var(--Dark-Grey, #5D5D5D);
}

.description__annotation, .description__main {
    /* Text */
    font-family: 'RF Dewi';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 1px 15px;
}

.description__title {
    /* H5/1600 */
    font-family: 'RF Dewi Expanded';
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    padding: 0px 15px;
}


.footer {
    padding: 0;
    background-color: rgb(24, 24, 24);
    padding: 5px 10px;
}

.footer__title, .footer__description {
    color: #fff;
    font-family: 'RF Dewi Expanded';
}

.footer__description {
    font-family: 'RF Dewi';
}

.footer__contacts {
    color: #fff;
    text-align: right;
    margin: 0;
}

.footer__form__input__name, 
 .footer__form__input__phone,
 .footer__form__input__comment {
    border: 2px solid var(--Grey, #B8B8B8);
    background: var(--White, #FFF);
    width: 100%;
    display: flex;

    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    margin: 10px 0px;
 }

 .footer__form__input__submit {
    display: flex;
    padding: 7px 0px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border : 0 none;
    background: var(--Grey, #B8B8B8);
    color: #fff;
    font-family: 'RF Dewi';
    font-weight: bold;
    width: 102%;
 }

.footer__form__warning {
    color: #5D5D5D;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 120% */
}

.footer__contacts {
    padding: 10px;
    background-image: url(asset/title-logo.png);
    background-size: cover;
}

.footer__contacts__phone, .footer__contacts__mail {
    color: var(--Red, #E63E35);
    text-align: right;
    /* Text */
    font-family: 'RF Dewi';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    padding: 10px;
}

.footer__contacts__address {
    color: #5D5D5D;

    text-align: right;
    /* Text */
    font-family: 'RF Dewi';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.footer__logo {
    width: 10%;
    height: 10%;
    transform: scaleX(-1); /* Перевернуть по горизонтали */
    opacity: 0.8;
}



.header__logo__company {
    display: none;
}

@media screen and (min-width: 757px) {
    .footer__form__input__submit {
        width: 101%;
    }
}

@media screen and (min-width: 1280px) {
    .footer__form__input__submit, .footer__form__input__name, 
    .footer__form__input__phone,
    .footer__form__input__comment {
        width: 99%;
    }

    .footer__form__input__submit {
        width: 100%;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        padding: 0px;;
        position: static;
        width: 100%;
    }

    .header__nav {
        display: flex;
        background: var(--Light-black, #161515);
        color: #E63E35;
        align-items: end;
        justify-content: end;
        gap: 8%;
        padding: 2% 10%;
    }

      

    .header__nav__button {
        box-sizing: border-box;
        background: #161515;
        color: #B8B8B8;
        padding: 1% 1%;
        border: none;
        cursor: pointer;
        font-weight: bold;
        border: 1px solid var(--Black, #161515);

    }

    .header__main {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
    }

    .header__logo {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .header__logo__img {
        height: 50px;
    }

    .header__logo__company {
        display: flex;
        color: #2C2B2E;

        font-family: RF Dewi Expanded;
        font-size: 31.197px;
        font-style: normal;
        font-weight: 900;
        line-height: 120%; /* 37.436px */
        text-transform: uppercase;
    }

    .header__phone {
        display: none;
    }

    .header__burger {
        display: none;
    }

    .header__full__phone {
        display: flex;
        flex-direction: column;
        color: #000;
    }

    .header__full__phone__number {
        color: var(--Red, #E63E35);
        text-align: right;
        font-family: RF Dewi Expanded;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 0.036px;
    }

    .header__full__phone__description {
        color: var(--Black, #000);
        text-align: right;
        font-family: RF Dewi;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .body {
        display: flex;
        flex-flow: row wrap;
    }

    .contacts {
        /* margin-top: 100px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 0px;
        padding-left: 20px;
        height: 993px;
    }

    .contacts__title {
        width: 50%;
    }

    .contacts__office, .contacts__office__title {
        width: 50%;
    }

    .contacts__production {
        width: 50%;
    }


    .employees {
        /* margin-top: 100px; */
        flex: 2;
        height: 960px;
        overflow: scroll;
        flex-direction: column;
        align-items: flex-start;
    }

    .employees__office, .employees__production {
        display: flex;
        flex-flow: row wrap;
        flex: 1 400px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .employees__office__title, .employees__production__title {
        /* display: block; */
        width: 100%;
    }

    .employees__office__worker__img, .employees__production__worker__img {
        width: 50%;
    }

    .employees__office__worker__info, .employees__production__worker__info {
        width: 100%;
        padding: 10px;
        margin-right: 50px;
    }

    .employees__office_worker__name, .employees__production__worker__name {
        width: 150px;
    }

    .employees__office_worker__description, .employees__production__worker__description {
        width: 190px;
    }

    .description {
        padding: 200px;
    }

    .footer {
        width: 100%;
    }

    .footer__form {
        padding: 100px 160px;
        width: 50%;
    }

    .footer__form__logic {
        display: flex;
        flex-flow: row wrap;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
        grid-gap:20px;

    }

    .footer__form__input__name, 
     .footer__form__input__phone,
      .footer__form__input__comment {
        flex: 1 300px;
        padding: 20px;
    }

    .footer__form__input__submit {
        /* margin-top: 30px; */
        padding: 20px;
    }

    .header__button:hover {
        background-color: #000;
        color: #fff;
      }

    .header__nav__button:hover {
        box-sizing: border-box;
        border: 1px solid var(--White, #ffffff);
        color: #fff;
    }

    .footer__form__input__name:hover, .footer__form__input__phone:hover, .footer__form__input__comment:hover {
        color: black;
        border-color: rgb(48, 48, 48);
    }

    input::-webkit-input-placeholder {
        color: #999;
    }
    input:hover::-webkit-input-placeholder {
        color: #000;
    }

    .social:hover {
        fill: var(--Red);
    }
    

}