@font-face {
    font-family: 'RF Dewi Expanded'; /*a name to be used later*/
    src: url('asset/fonts/RFDewiExpanded-Ultrabold\ \(1\).ttf')
}
@font-face {
    font-family: 'RF Dewi'; /*a name to be used later*/
    src: url('asset/fonts/RFDewi-Regular.ttf')
}

.body {
    width: 390px;
}

img {
    width:10px;
}

.header{
    display: flex;
    width: 100%;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: antiquewhite;
    /* background: var(--White, #FFF); */
}

.header__main {
    justify-content: left;
    display: inline-flex;
    gap: 20px;
}

.header__logo{
    width: 10%;
    height: 10%;
}
.header__button{
    display: flex;
    padding: 10px 8px;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--Black, #000);

    /* H1/390 */
    font-family: 'RF Dewi';
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 40.8px */
    text-transform: uppercase;
    color: black;
}
.header__phone{
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--Red, #E63E35);
}
.header__burger{
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 2px solid var(--Grey, #B8B8B8);
}
.contacts{
    display: flex;
    flex-direction: column;
    width: 390px;
    padding: 32px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    background: var(--Light-black, #161515);
    align-self: stretch;
}
.contacts__title{
    display: flex;
    height: 58px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;

    color: var(--Light-Gray, #FBFBFB);

    /* H1/390 */
    font-family: 'RF Dewi Expanded';
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 40.8px */
    text-transform: uppercase;
}
.contacts__office, .contacts__production{
    align-self: stretch;
    color: var(--Light-Gray, #FBFBFB);

    /* Text */
    font-family: 'RF Dewi';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.contacts__office__title, .contacts__production__title{
    color: var(--Dark-Grey, #5D5D5D);
    /* H5/1600 */
    font-family: 'RF Dewi Expanded';
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 21.6px */
}
.contacts__office__address{

}
.contacts__office__mode, .contacts__production__mode{
    color: var(--White, #FFF);
}
.contacts__office__weekend{

}
.contacts__office__phone, .contacts__production__phone {
    font-family: RF Dewi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.contacts__office__phone__link, .contacts__production__phone__link{
    color: var(--Red, #E63E35);
    text-decoration-line: underline;
}
.contacts__office__mail{
    font-family: RF Dewi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.contacts__office__mail__link{
    color: var(--Red, #E63E35);
    text-decoration-line: underline;
}
.contacts__office__social{

}
.contacts__office__instagram{

}
.contacts__office__vk{

}

.employees{
    display: flex;
    width: 390px;
    padding: 32px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.employees__office, .employees__production {

}
.employees__office__title, .employees__production__title {
    width: 800px;
    color: var(--Light-black, #161515);

    /* H2/390 */
    font-family: 'RF Dewi Expanded';
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 36px */
    text-transform: uppercase;
}
.employees__office__worker, .employees__production__worker{
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    margin-bottom: 25px;
}
.employees__office__worker__img, .employees__production__worker__img{
    width: 150px;
    height: 200px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat, url(<path-to-image>), lightgray 50% / cover no-repeat, #000;
}

.employees__office__worker__info, .employees__production__worker__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.employees__office_worker__name, .employees__production__worker__name {
    flex-wrap: wrap;

    color: #000;

    /* H5/1600 */
    font-family: 'RF Dewi Expanded';
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 21.6px */

}
.employees__office_worker__description, .employees__production__worker__description{
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    color: #E63E35;
}

.description{
    display: flex;
    width: 390px;
    padding: 32px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.description__annotation, .description__main {
    align-self: stretch;
    color: var(--Dark-Grey, #5D5D5D);

    /* Text */
    font-family: RF Dewi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.description__title{
    align-self: stretch;
    color: var(--Dark-Grey, #5D5D5D);

    /* H5/1600 */
    font-family: 'RF Dewi Expanded';
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 21.6px */
}

.footer{
    display: flex;
    width: 390px;
    height: 687px;
    padding: 32px 16px 62px 16px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    background: var(--Light-black, #161515);
    /* background: url(<path-to-image>), lightgray 64px 443.913px / 84.004% 47.724% no-repeat, #161515; */
}
.footer__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    justify-content: center;
}
.footer__title{

    color: var(--White, #FFF);

    /* H2/390 */
    font-family: 'RF Dewi Expanded';
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 36px */
    text-transform: uppercase;
}
.footer__description{
    align-self: stretch;
    color: var(--White, #FFF);

    /* Text */
    font-family: RF Dewi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.footer__form__input__name{

}
.footer__form__input__phone{

}
.footer__form__input__comment{

}
.footer__form__input__submit{

}
.footer__form__warning{
    align-self: stretch;
    color: #5D5D5D;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 120% */
}
.footer__form__warning__link{
    align-self: stretch;
    color: var(--Red, #E63E35);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
    text-decoration-line: underline;
}
.footer__contacts{
    display: flex;
    height: 22px;
    flex-direction: column;
    justify-content: right;
    align-self: stretch;
}
.footer__contacts__phone{

}
.footer__contacts__phone__link, .footer__contacts__mail__link{
    color: var(--Red, #E63E35);
    text-align: right;

    /* Text */
    font-family: RF Dewi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.footer__contacts__mail{

}
.footer__contacts__address{
    align-self: stretch;
    color: #5D5D5D;
    text-align: right;

    /* Text */
    font-family: RF Dewi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
