@font-face {
    font-family: "RF Dewi Expanded";
    src: local("RF Dewi Expanded Black"), local("RFDewiExpanded-Black"), url("asset/fonts/RFDewiExpanded-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "RF Dewi";
    src: local("RF Dewi Regular"), local("RFDewi-Regular"), url("asset/fonts/RFDewi-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "RF Dewi";
    src: local("RF Dewi Bold"), local("RFDewi-Bold"), url("asset/fonts/RFDewi-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

:root {
    --White: #fff;
    --Black: #000;
    --Red: #E63E35;
    --Grey: #B8B8B8;
    --Grey-Dark: #696969;
    --Light-black: #161515;
    --Light-Gray: #FBFBFB;
    --Dark-Grey: #5D5D5D;
  }